:root {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;

    --neutral-dark: #000500;
    --neutral-light: #f7f7ff;
    --primary-wrong: #d7263d;
    --primary-right: #399e5a;
    --primary-maybe: #e5f77d;

    --alternate-primary-right: #f56960;
    --alternate-neutral-light: #e0e0e0;
}

body {
    height: 100vh;
    background-color: var(--alternate-neutral-light);
    color: var(--neutral-dark);
    font-weight: 800;
}

.header {
    height: 3.25rem;
    display: flex;
}

.header-title {
    text-align: center;
    margin: 1rem 0;

    justify-content: space-around;
}

.game {
    height: calc(100vh - 5.25rem);
}

.board-container {
    height: 60%;

    display: flex;
    flex-direction: column;
}

.board {
    height: 100%;
    aspect-ratio: 0.833;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.65rem;
}
.game-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}
.keyboard {
    margin-top: 1rem;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.keyboard-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    width: 3.5%;
    height: 1.75rem;
    text-align: center;
    padding: 0.5rem;
    /* background-color: hotpink; */
}

#DEL {
    width: 6%;
}

#ENTER {
    width: 9%;
}

.neutral-button {
    border-radius: 9px;
    background: #e0e0e0;
    box-shadow: 3px 3px 6px #bebebe, -3px -3px 6px #ffffff;
}

.wrong-button {
    border-radius: 9px;
    background: #d7263d;
    box-shadow: 3px 3px 6px #b72034, -3px -3px 6px #f72c46;
}

.right-button {
    border-radius: 9px;
    background: #399e5a;
    box-shadow: 3px 3px 6px #30864d, -3px -3px 6px #42b668;
}

.maybe-button {
    border-radius: 9px;
    background: #e5f77d;
    box-shadow: 3px 3px 6px #c3d26a, -3px -3px 6px #ffff90;
}
